@charset "UTF-8";

/* Fonts */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/greek-ext.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/greek.woff2") format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Nunito/400/cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Nunito/400/cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Nunito/400/vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Nunito/400/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Nunito/400/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Poppins/400/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Poppins/400/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Montserrat/400/cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Montserrat/400/cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Montserrat/400/vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Montserrat/400/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Montserrat/400/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Raleway/700/cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Raleway/700/cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Raleway/700/vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Raleway/700/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Raleway/700/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fixel Text";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../files/fonts/Fixel-Text/FixelText-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Fixel Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Fixel-Text/FixelText-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Fixel Text";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Fixel-Text/FixelText-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Fixel Text";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../files/fonts/Fixel-Text/FixelText-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Fixel Text";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Fixel-Text/FixelText-Bold.woff2") format("woff2");
}

/* Normalize */

/* Mixins */

/* Максимальная ширина контейнера с контентом */

/* Media screen */

/* ui */

/* n Select */

/* n Lazy Loading */

/* n Spollers */

/* n Pop up */

/* n Classes */

/*
a {
   color: inherit;
   transition: color 0.3s;
   text-decoration: none;

   @media (any-hover: hover) {

      &:hover {
         color: #fff;
      }
   }
}
*/

/* Header */

/* Page - Home */

.page__title {
  font-family: "Fixel Text", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 86.4px;
  letter-spacing: -0.02em;
  margin: 0;
  padding-top: 15px;
}

.categories {
  align-items: center;
  background: linear-gradient(180deg, #353535 6.07%, #0E1011 78.46%);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  height: 76px;
  margin-top: 39px;
  margin-bottom: 60px;
  padding: 5px 33px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.categories__wrapSlider {
  overflow: hidden;
  max-width: calc(87% - 4px);
  padding-left: 36px;
  padding-right: 23px;
  position: relative;
}

.categories__wrapSlider .swiper-button-prev,
.categories__wrapSlider .swiper-button-next {
  height: 18px;
  margin-top: -1px;
  transform: translateY(-50%);
  width: 12px;
  z-index: 1;
}

.categories__wrapSlider .swiper-button-prev.swiper-button-disabled,
.categories__wrapSlider .swiper-button-next.swiper-button-disabled {
  opacity: 1;
}

.categories__wrapSlider .swiper-button-prev svg,
.categories__wrapSlider .swiper-button-prev img,
.categories__wrapSlider .swiper-button-next svg,
.categories__wrapSlider .swiper-button-next img {
  max-height: 100%;
  max-width: 100%;
}

.categories__wrapSlider .swiper-button-prev::after,
.categories__wrapSlider .swiper-button-next::after {
  display: none;
}

.categories__wrapSlider .swiper-button-prev {
  left: 0;
}

.categories__wrapSlider .swiper-button-next {
  right: 0;
}

.categories__slider {
  align-items: center;
  overflow: hidden;
}

.categories__slider .swiper-slide {
  width: auto;
}

.categories__slider .swiper-slide a {
  color: #fff;
  font-family: "Fixel Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
}

.categories__blockForm {
  background: linear-gradient(180deg, #353535 6.07%, #0E1011 78.46%);
  border-radius: inherit;
  bottom: 0;
  left: 0;
  height: 100%;
  padding-left: 8px;
  padding-right: 12px;
  position: absolute;
  right: 0;
  transition: opacity 0.3s;
  top: 0;
  width: 100%;
  z-index: 2;
}

.categories__blockForm:not(.show) {
  opacity: 0;
  pointer-events: none;
}

.categories__blockForm form {
  align-items: center;
  border-radius: inherit;
  display: flex;
  min-height: 100%;
  width: 100%;
}

.categories__blockForm input:not([type=submit])::-moz-placeholder {
  font-family: "Fixel Text", sans-serif;
  font-size: 18px;
}

.categories__blockForm input:not([type=submit])::placeholder,
.categories__blockForm input:not([type=submit]) {
  font-family: "Fixel Text", sans-serif;
  font-size: 18px;
}

.categories__blockForm input:not([type=submit]) {
  border-radius: 15px;
  height: 60px;
  padding: 0 20px;
  width: calc(100% - 60px);
}

.categories__blockForm button[type=submit],
.categories__blockForm input[type=submit] {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 72%;
  margin-left: auto;
  width: 40px;
}

.categories__blockForm input[type=submit] {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='31' viewBox='0 0 30 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M28 30.9722L17.1946 20.1668C16.3612 20.8704 15.394 21.4213 14.2929 21.8197C13.1918 22.2177 12.0201 22.4168 10.7779 22.4168C7.7657 22.4168 5.21625 21.3727 3.12958 19.2847C1.04319 17.1969 0 14.6669 0 11.6947C0 8.72244 1.04403 6.19231 3.13208 4.10425C5.21986 2.0162 7.75458 0.972168 10.7363 0.972168C13.7176 0.972168 16.2476 2.0162 18.3263 4.10425C20.4051 6.19231 21.4446 8.72383 21.4446 11.6988C21.4446 12.8997 21.2501 14.0511 20.8612 15.153C20.4724 16.2547 19.9075 17.2686 19.1667 18.1947L30 28.9722L28 30.9722ZM10.75 19.6388C12.9492 19.6388 14.8183 18.8634 16.3575 17.3126C17.8969 15.7618 18.6667 13.8891 18.6667 11.6947C18.6667 9.50022 17.8969 7.62745 16.3575 6.07633C14.8183 4.5255 12.9492 3.75008 10.75 3.75008C8.53555 3.75008 6.65319 4.5255 5.10292 6.07633C3.55292 7.62745 2.77792 9.50022 2.77792 11.6947C2.77792 13.8891 3.55292 15.7618 5.10292 17.3126C6.65319 18.8634 8.53555 19.6388 10.75 19.6388Z' fill='white'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

.categories__button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 40px;
  margin-left: auto;
  position: relative;
  width: 40px;
  z-index: 1;
}

.categories__bg {
  border-radius: inherit;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 0;
}

.preview-posts {
  flex-wrap: wrap;
  padding: 0 !important;
}

.preview-posts__block {
  margin-bottom: 123px;
  width: 100%;
}

.preview-posts__block.no-block-post {
  width: 100%;
}

.preview-posts__blockImage {
  background-color: #eee;
  border-radius: 20px;
  display: block;
  margin-bottom: 22px;
  padding-bottom: 95%;
  position: relative;
}

.preview-posts__blockImage img {
  border-radius: inherit;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.preview-posts__block p {
  color: #86949F;
  font-family: "Fixel Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin: 0;
}

.preview-posts__block h2 {
  font-family: "Fixel Text", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 31.2px;
  margin: 21px 0 0;
  padding-right: 32px;
  position: relative;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.preview-posts__block h2 a {
  color: #22282B;
}

.preview-posts__block h2 a::after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.9719 14.8052L14.2751 14.8202V5.40386L2.44811 17.2308L0.489508 15.2722L12.3165 3.44526L2.90763 3.45279L2.91517 0.748409L16.9719 0.74841V14.8052Z' fill='%2322282B'/%3e%3c/svg%3e");
  position: absolute;
  pointer-events: none;
  right: 7px;
  transform: translateY(-50%);
  transition: 0.2s;
  top: 50%;
}

.preview-posts__blockText {
  padding-bottom: 18px;
  padding-top: 18px;
}

.preview-posts__blockText p {
  font-family: "Fixel Text", sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.preview-posts__blockBottom {
  align-items: center;
  display: flex;
  margin-top: 6px;
}

.preview-posts .block-photo {
  background-color: #eee;
  border-radius: 50%;
  display: block;
  height: 36px;
  flex: 0 0 36px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  width: 36px;
}

.preview-posts .block-photo img {
  border-radius: inherit;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  top: 0;
  width: 100%;
}

.preview-posts .block-info {
  padding-left: 12px;
}

.preview-posts .block-info h3 {
  color: #0F1121;
  font-family: "Fixel Text", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.preview-posts .block-info p {
  font-family: "Fixel Text", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  margin: 5px 0 0;
}

.my-gin {
  border-radius: 40px;
  box-shadow: 7px 9px 18.8px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin-top: 27px;
  padding: 57px 36px 62px;
  position: relative;
}

.my-gin.two {
  background: linear-gradient(180deg, #353535 6.07%, #0E1011 78.46%);
  box-shadow: none;
  margin-top: 81px;
  padding: 0;
}

.my-gin.two .my-gin__item:nth-child(1) {
  padding-bottom: 139px;
  padding-left: 72px;
  padding-top: 134px;
}

.my-gin.two .my-gin__item:nth-child(2) {
  position: static;
}

.my-gin.two .my-gin__item:nth-child(2) img.device {
  bottom: 0;
  max-width: 27%;
  position: absolute;
}

.my-gin.two .my-gin__item:nth-child(2) img.device.one {
  right: calc(18% + 2px);
  z-index: 1;
}

.my-gin.two .my-gin__item:nth-child(2) img.device.two {
  right: calc(6% - 4px);
  z-index: 0;
}

.my-gin.two h2,
.my-gin.two p {
  text-align: left;
}

.my-gin.two ul {
  max-width: 462px;
  margin-top: 25px;
}

.my-gin.two ul li p {
  text-align: left;
}

.my-gin.two .my-gin-two-elipses {
  bottom: 0;
  max-width: 67%;
  position: absolute;
  right: 0;
}

.my-gin__items {
  position: relative;
  z-index: 1;
}

.my-gin__item h2 {
  color: #fff;
  font-family: "Fixel Text", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin: 0;
  padding-right: 0;
  text-align: center;
  -webkit-line-clamp: 100;
}

.my-gin__item p {
  color: #DEDFE1;
  font-family: "Fixel Text", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  margin: 27px 0 0;
  text-align: center;
}

.my-gin ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.my-gin ul li {
  list-style: none;
}

.my-gin ul li.slash {
  bottom: 10px;
  color: #86949F;
  font-family: "Fixel Text", sans-serif;
  font-size: 27px;
  font-weight: 200;
  line-height: 43.2px;
  letter-spacing: -0.01em;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 6px;
}

.my-gin ul li p {
  color: #86949F;
  font-family: "Fixel Text", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: -0.02em;
  margin: 0 0 auto;
  padding-bottom: 7px;
  text-align: left;
}

.my-gin__button {
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 11px;
  border: 0.5px solid #22282B;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 58px;
  font-family: "Fixel Text", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  margin-top: auto;
  padding: 8px 12px;
  text-align: center;
  width: 184px;
  max-width: 100%;
}

.my-gin__button.google svg,
.my-gin__button.google img {
  bottom: 1px;
  margin-right: 12px;
  min-width: 16px;
  position: relative;
}

.my-gin__button.ios svg,
.my-gin__button.ios img {
  bottom: 2px;
  margin-right: 8px;
  min-width: 19px;
  position: relative;
}

.my-gin__bg {
  bottom: 0;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.my-gin__bg img {
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.pagination {
  margin: -67px 0 50px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.pagination .screen-reader-text {
  display: none;
}

.pagination .nav-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination .page-numbers {
  align-items: center;
  border-radius: 50%;
  color: #000;
  display: flex;
  justify-content: center;
  font-family: "Fixel Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  height: 28px;
  margin: 7px;
  min-width: 28px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  transition: 0.3s;
}

.pagination .page-numbers.prev,
.pagination .page-numbers.next {
  background-color: transparent !important;
  height: 14px;
  flex: 0 0 7px;
  top: -1px;
  width: 7px;
}

.pagination .page-numbers.prev {
  margin-right: 15px;
}

.pagination .page-numbers.prev img,
.pagination .page-numbers.prev svg {
  transform: scale(-1, 1);
}

.pagination .page-numbers.next {
  margin-left: 3px;
}

.pagination .page-numbers.current {
  background-color: #22282B;
  color: #fff;
}

.pagination .page-numbers.dots {
  margin-left: 9px;
  margin-right: 9px;
  pointer-events: none;
}

/* Footer */

/* Plyr video player */

@media screen and (min-width: 576px) {
  .preview-posts {
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
  }

  .preview-posts__block {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 992px) {
  .preview-posts {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }

  .preview-posts__block {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(50% - 40px);
  }
}

@media screen and (min-width: 993px) {
  .my-gin__items {
    align-items: center;
    display: flex;
  }

  .my-gin__item:nth-child(1) {
    padding-right: 35px;
    width: 58%;
  }

  .my-gin__item:nth-child(2) {
    width: 42%;
  }
}

@media screen and (min-width: 1025px) {
  .container.new-container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200.98px) {
  .my-gin.two .my-gin__item:nth-child(2) img.device {
    max-width: 24%;
  }
}

@media screen and (max-width: 1099.98px) {
  .my-gin.two .my-gin__item:nth-child(1) {
    padding-bottom: 80px;
    padding-left: 50px;
    padding-top: 80px;
  }

  .my-gin.two ul {
    max-width: 400px;
  }

  .my-gin__button {
    width: 174px;
  }
}

@media screen and (max-width: 1024.98px) {
  .page__title {
    font-size: 56px;
    line-height: 60px;
  }
}

@media screen and (max-width: 992.98px) {
  .categories {
    border-radius: 10px;
    height: 55px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .categories__wrapSlider {
    max-width: calc(100% - 55px);
    padding-left: 20px;
    width: 100%;
  }

  .categories__slider .swiper-slide a {
    font-size: 15px;
  }

  .categories__blockForm input:not([type=submit])::-moz-placeholder {
    font-size: 16px;
    line-height: 48px;
  }

  .categories__blockForm input:not([type=submit])::placeholder,
  .categories__blockForm input:not([type=submit]) {
    font-size: 16px;
    line-height: 48px;
  }

  .categories__blockForm input:not([type=submit]) {
    border-radius: 8px;
    height: 43px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 50px);
  }

  .categories__blockForm button[type=submit],
  .categories__blockForm input[type=submit] {
    height: 42px;
    width: 34px;
  }

  .categories__blockForm button[type=submit] svg,
  .categories__blockForm input[type=submit] svg {
    max-height: 100%;
    max-width: 100%;
  }

  .categories__button {
    height: 34px;
    width: 34px;
  }

  .my-gin {
    margin-top: 0;
    padding: 50px 25px;
  }

  .my-gin.two .my-gin__item:nth-child(1) {
    padding-bottom: 420px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .my-gin.two .my-gin__item:nth-child(2) img.device {
    max-width: 100%;
    width: 280px;
  }

  .my-gin.two .my-gin__item:nth-child(2) img.device.one {
    left: 20%;
    right: auto;
  }

  .my-gin.two .my-gin__item:nth-child(2) img.device.two {
    right: 16%;
  }

  .my-gin.two h2,
  .my-gin.two p {
    text-align: center;
  }

  .my-gin.two .my-gin-two-elipses {
    max-width: 100%;
  }

  .my-gin__items {
    width: 100%;
  }

  .my-gin__item:nth-child(2) {
    padding-top: 35px;
  }

  .my-gin__item h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
  }

  .my-gin__item p {
    margin-left: auto;
    margin-right: auto;
    max-width: 530px;
  }

  .my-gin ul {
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
  }

  .my-gin__bg {
    background: linear-gradient(180deg, #353535 6.07%, #0E1011 78.46%);
  }

  .my-gin__bg img {
    display: none;
  }
}

@media screen and (max-width: 768.98px) {
  .my-gin.two {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 640.98px) {
  .my-gin.two .my-gin__item:nth-child(2) img.device.one {
    left: 11%;
  }

  .my-gin.two .my-gin__item:nth-child(2) img.device.two {
    right: 11%;
  }
}

@media screen and (max-width: 575.98px) {
  .page__title {
    font-size: 46px;
    line-height: 60px;
    padding-top: 0;
  }

  .categories {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .categories__slider .swiper-slide a {
    font-size: 12px;
  }

  .categories__button {
    height: 31px;
    width: 31px;
  }

  .preview-posts__block {
    margin-bottom: 50px;
  }

  .preview-posts__blockImage {
    border-radius: 16px;
    margin-bottom: 15px;
  }

  .preview-posts__block p {
    font-size: 16px;
  }

  .preview-posts__block h2 {
    font-size: 21px;
    line-height: 24px;
    margin-top: 15px;
  }

  .preview-posts__blockText {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .preview-posts__blockText p {
    font-weight: 400;
  }

  .my-gin {
    border-radius: 20px;
    padding: 8px 15px 15px;
  }

  .my-gin.two {
    margin-top: 100px;
  }

  .my-gin.two .my-gin__item:nth-child(1) {
    padding-bottom: 320px;
    padding-top: 23px;
  }

  .my-gin.two .my-gin__item:nth-child(2) img.device {
    width: 200px;
  }

  .my-gin.two .my-gin__item:nth-child(2) img.device.one {
    left: 5%;
  }

  .my-gin.two .my-gin__item:nth-child(2) img.device.two {
    right: 5%;
  }

  .my-gin__item h2 {
    font-size: 24px;
    line-height: 31px;
  }

  .my-gin__item p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
  }

  .my-gin ul {
    max-width: 100%;
  }

  .my-gin ul li.slash {
    bottom: 4px;
    left: calc(50% - 1px);
  }

  .my-gin__button {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    height: 50px;
    width: 140px;
  }

  .my-gin__button.google svg,
  .my-gin__button.google img {
    bottom: 0;
    height: 16px;
    margin-left: -6px;
    margin-right: 6px;
    min-width: 12px;
  }

  .my-gin__button.ios svg,
  .my-gin__button.ios img {
    height: 20px;
    margin-left: -6px;
    margin-right: 6px;
    min-width: 15px;
  }

  .pagination {
    margin-top: 5px;
  }
}

@media screen and (max-width: 480.98px) {
  .my-gin__item:nth-child(2) {
    padding-top: 25px;
  }
}

@media screen and (max-width: 460.98px) {
  .categories {
    border-radius: 0;
    height: 45px;
    margin-left: -24px;
    padding-left: 8px;
    padding-right: 5px;
    width: calc(100% + 48px);
  }

  .categories__wrapSlider {
    max-width: calc(100% - 40px);
    padding-left: 22px;
  }

  .categories__blockForm {
    padding-left: 5px;
    padding-right: 5px;
  }

  .categories__blockForm input:not([type=submit])::-moz-placeholder {
    font-size: 15px;
    line-height: 42px;
  }

  .categories__blockForm input:not([type=submit])::placeholder,
  .categories__blockForm input:not([type=submit]) {
    font-size: 15px;
    line-height: 42px;
  }

  .categories__blockForm input:not([type=submit]) {
    border-radius: 0;
    height: 35px;
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% - 40px);
  }

  .categories__blockForm button[type=submit],
  .categories__blockForm input[type=submit] {
    height: 31px;
    width: 31px;
  }

  .categories__blockForm button[type=submit] svg,
  .categories__blockForm input[type=submit] svg {
    max-height: 100%;
    max-width: 100%;
  }

  .my-gin ul li:nth-child(1),
  .my-gin ul li:nth-child(3) {
    width: calc(50% - 12px);
  }

  .my-gin__button {
    width: 100%;
  }
}

@media screen and (max-width: 360.98px) {
  .my-gin ul li.slash {
    display: none;
  }

  .my-gin ul li:nth-child(1),
  .my-gin ul li:nth-child(3) {
    width: calc(50% - 6px);
  }

  .my-gin__button {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (any-hover: hover) {
  .preview-posts__block h2 a:hover::after {
    transform: translateY(-50%) rotate(45deg);
  }

  .pagination .page-numbers:hover {
    background-color: #22282B;
    color: #fff;
  }
}